@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>
    The IACC - Israel’s leading social organization, strives to build and develop a nationwide network of
    sustainable local communities, which contribute to the shaping of a strong, resilient and pluralistic
    society throughout all the sectors living in Israel.<br />

    Registered as a &quot;Governmental Public Benefit Company&quot; and affiliated with the Ministry of Education -
    the IACC operates a unique nationwide network of 175 Community Centers and 700 branches, spread in
    154 municipalities, from Metula in the north to Eilat in the south.
</p>
