@using Microsoft.AspNet.Identity
@if (User != null && User.IsInRole("Employee"))
{
    {
    @Html.AntiForgeryToken()

<ul class="nav navbar-nav navbar-right">
    <li>@Html.ActionLink("Order", "Index", "Orders")</li>
    <li>@Html.ActionLink("Products", "Index", "Products")</li>

</ul>
    }
}

